@page "/clases"
@rendermode InteractiveServer
@inject AppState AppState
@inject NavigationManager NavigationManager

@using ProyectoBlazor.Models
@using ProyectoBlazor.Service
@using SistemaGestionGimnasio.Modelos
@inject ClaseService ClaseService

<PageTitle>Clases</PageTitle>

<h1>Clases Disponibles</h1>

<div class="row">
    @if (clases != null && clases.Count > 0)
    {
        @foreach (var clase in clases)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@clase.Nombre</h5>
                        <p class="card-text">@clase.EntrenadorNombre</p>
                        <a href="@("/detalle-clase/" + clase.Id)" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No hay clases disponibles.</p>
    }
</div>

@code {
    private List<ClasesModel> clases = new List<ClasesModel>();
    private List<EspacioModel> espacios = new List<EspacioModel>();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            clases = await ClaseService.listarClases();
            //espacios = await EspacioService.ListarEspaciosEntrenador(AppState.CurrentUser.Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar las clases o los espacios: {ex.Message}");
        }
    }



}

