@page "/counter"
@rendermode InteractiveServer
@inject AppState AppState
@inject NavigationManager NavigationManager

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        // if (!await AppState.IsAuthenticated())
        // {
        //     Redirige a la página de login si no está autenticado
        //     NavigationManager.NavigateTo("/", true);
        // }
        // await base.OnInitializedAsync();
    }
}


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
