@page "/home"

@inject AppState AppState
@inject NavigationManager NavigationManager

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

      
    }




}


<h3>Página protegida</h3>
<p>Solo los usuarios autenticados pueden ver esta página.</p>

<PageTitle>Home</PageTitle>

<h1>Bienvenidos!</h1>

A su aplicación.