@page "/"
@using ProyectoBlazor.Service
@using ProyectoBlazor.Modelos

@inject AuthenticationService AuthService
@inject AppState AppState
@inject NavigationManager NavigationManager
@inject MembresiaService MembresiaService
@inject InventarioService InventarioService

@inject IJSRuntime JSRuntime

@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

<h3>Login</h3>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="formlogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="loginModel.Username" />
        <ValidationMessage For="@(() => loginModel.Username)" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>
    <button type="submit">Login</button>
</EditForm>

@if (errorMessage != null)
{
    <p style="color: red;">@errorMessage</p>
}

@code {
    /// <summary>
    /// Modelo para gestionar el login.
    /// </summary>
    private LoginModel loginModel = new();

    /// <summary>
    /// Mensaje de error que se muestra si las credenciales no son válidas.
    /// </summary>
    private string? errorMessage;

    /// <summary>
    /// Método que se ejecuta después de renderizar el componente.
    /// </summary>
    /// <param name="firstRender">Indica si es la primera vez que se renderiza el componente.</param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Inicializa el estado de la aplicación si es necesario
            
        }
    }

    /// <summary>
    /// Maneja la acción de login del usuario.
    /// </summary>
    private async Task HandleLogin()
    {
        // Autentica al usuario
        var user = await AuthService.Authenticate(loginModel.Username, loginModel.Password);
        if (user != null)
        {
            // Establece el usuario actual en el estado de la aplicación
            AppState.SetCurrentUser(user);

            if (user.Tipo == "Cliente")
            {
                // Verifica los días restantes de la membresía
                var diasRestantes = await MembresiaService.ObtenerDiasRestantesMembresia(user.Id);

                if (diasRestantes.Value < 0)
                {
                    AppState.SetCurrentUser(null);
                    await JSRuntime.InvokeVoidAsync("alert", $"Tu membresía está vencida.");
                    return;

                }

                if (diasRestantes.HasValue && diasRestantes.Value <= 5)
                {
                   
                    await JSRuntime.InvokeVoidAsync("alert", $"Tu membresía está por vencer. Te quedan {diasRestantes.Value} días.");

                }


            }

            if (user.Tipo == "Administrador")
            {
                // Obtiene los equipos que están cerca de vencer
                List<InventarioModel> equiposPorVencerse = await InventarioService.ObtenerEquiposCercaDeVencer();

                var equiposList = string.Join(", ", equiposPorVencerse.Select(e => e.NombreEquipo));

                await JSRuntime.InvokeVoidAsync("alert", $"Los siguientes equipos están cerca de vencer: {equiposList}");
            }

            NavigationManager.NavigateTo("/home");
        }
        else
        {
            errorMessage = "Invalid credentials!";
        }
    }

    /// <summary>
    /// Modelo que representa los datos de login.
    /// </summary>
    private class LoginModel
    {
        public string Username { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }
}

