@inject AppState appState;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProyectoBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-user-door-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && (appState.CurrentUser.Tipo == "Admin"))
            {
                <NavLink class="nav-link" href="usuarios">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>
            }

        </div>

        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && (appState.CurrentUser.Tipo == "Cliente"))
            {
                <NavLink class="nav-link" href="clases">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Clases
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && appState.CurrentUser.Tipo == "Entrenador")
            {
                <NavLink class="nav-link" href="crear-espacio">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Crear Espacios
                </NavLink>
            }
        </div>


        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && appState.CurrentUser.Tipo == "Cliente")
            {
                <NavLink class="nav-link" href="clientes/mis-reservas">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mis Reservas
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && appState.CurrentUser.Tipo == "Administrador")
            {
                <NavLink class="nav-link" href="administradores/reportes">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Reportes
                </NavLink>
            }
        </div>


        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && appState.CurrentUser.Tipo == "Cliente")
            {
                <NavLink class="nav-link" href="clientes/mis-metricas">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mis Metricas
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && (appState.CurrentUser.Tipo == "Administrador" || appState.CurrentUser.Tipo == "Entrenador"))
            {
                <NavLink class="nav-link" href="administradorentrenador/matricula">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Matricular
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && (appState.CurrentUser.Tipo == "Administrador" || appState.CurrentUser.Tipo == "Entrenador"))
            {
                <NavLink class="nav-link" href="administradores/facturas">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Facturas
                </NavLink>
            }
        </div>


        <div class="nav-item px-3">
            @if (appState.CurrentUser != null && (appState.CurrentUser.Tipo == "Administrador"))
            {
                <NavLink class="nav-link" href="administradores/inventario">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inventario
                </NavLink>
            }
        </div>
    </nav>
</div>

