@page "/reporte"
@rendermode InteractiveServer

@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h3>Generar Reporte PDF</h3>

<button class="btn btn-primary" @onclick="() => GenerarReporte()">Generar Reporte PDF</button>

@code {
    private async Task GenerarReporte()
    {
        var response = await Http.GetAsync("generar-pdf-factura");

        if (response.IsSuccessStatusCode)
        {
            var pdfBytes = await response.Content.ReadAsByteArrayAsync();

            // Crea un enlace para descargar el archivo PDF
            var base64Pdf = Convert.ToBase64String(pdfBytes);
            var pdfUrl = $"data:application/pdf;base64,{base64Pdf}";

            // Invoca JavaScript para abrir el archivo PDF en una nueva pestaña
            await JSRuntime.InvokeVoidAsync("open", pdfUrl, "_blank");
        }
        else
        {
            // Maneja error
            Console.WriteLine("Error al generar el reporte PDF");
        }
    }
}